# 1 - Create a data asset: File type

In [2]:
# Connect to Azure Machine Learning Workspace


# Import required libraries
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes

# details of azure ML workspace
subscription_id = "3b57d2fe-08b1-4fe9-b535-f5c4387b9a66"
resource_group = "azureml-sdkv2-rg"
workspace = "azureml-sdkv2-ws"

# get a handle to the workspace
ml_client = MLClient(DefaultAzureCredential(), subscription_id, resource_group, workspace)
print(ml_client)

MLClient(credential=<azure.identity._credentials.default.DefaultAzureCredential object at 0x7f3cceee1000>,
         subscription_id=3b57d2fe-08b1-4fe9-b535-f5c4387b9a66,
         resource_group_name=azureml-sdkv2-rg,
         workspace_name=azureml-sdkv2-ws)

In [3]:
VERSION = "1"
path = "azureml://datastores/datastore_01/paths/data/income_data.csv"

# Define data asset object

my_data = Data(
    path=path,
    type=AssetTypes.URI_FILE,
    description="Creating data asset using pythin sdk v2",
    name="income-data1",
    version=VERSION
)

# create data asset in workspace
ml_client.data.create_or_update(my_data)

Data({'skip_validation': False, 'mltable_schema_url': None, 'referenced_uris': None, 'type': 'uri_file', 'is_anonymous': False, 'auto_increment_version': False, 'auto_delete_setting': None, 'name': 'income-data1', 'description': 'Creating data asset using pythin sdk v2', 'tags': {}, 'properties': {}, 'print_as_yaml': True, 'id': '/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourceGroups/azureml-sdkv2-rg/providers/Microsoft.MachineLearningServices/workspaces/azureml-sdkv2-ws/data/income-data1/versions/1', 'Resource__source_path': None, 'base_path': '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-instance01/code/Users/vijaygadhave199', 'creation_context': <azure.ai.ml.entities._system_data.SystemData object at 0x7f3cc0565f00>, 'serialize': <msrest.serialization.Serializer object at 0x7f3cc0565d80>, 'version': '1', 'latest_version': None, 'path': 'azureml://subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-sdkv2-rg/workspaces/azureml-sdkv2-ws/datastores/datastore_01/paths/data/income_data.csv', 'datastore': None})

In [4]:
# Consume the data asset

import pandas as pd
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential

ml_client = MLClient.from_config(credential=DefaultAzureCredential())
data_asset = ml_client.data.get("income-data1", version="1")

df = pd.read_csv(data_asset.path)
df

Found the config file in: /config.json
Transient server side error 429: {"itemsReceived":1,"itemsAccepted":0,"appId":null,"errors":[{"index":0,"statusCode":429,"message":"Too much data"}]}. Retrying.

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,33,Private,194901,Assoc-voc,11,Separated,Craft-repair,Not-in-family,White,Male,0,2444,42,United-States,>50K
1,43,Private,155106,Assoc-acdm,12,Divorced,Craft-repair,Not-in-family,White,Male,0,2444,70,United-States,>50K
2,50,Self-emp-inc,121441,11th,7,Never-married,Exec-managerial,Other-relative,White,Male,0,2444,40,United-States,>50K
3,44,Private,162028,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,2415,6,United-States,>50K
4,51,Self-emp-not-inc,160724,Bachelors,13,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,0,2415,40,China,>50K
5,41,Private,132222,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,40,United-States,>50K
6,60,Self-emp-inc,226355,Assoc-voc,11,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,2415,70,?,>50K
7,37,Private,329980,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,60,United-States,>50K
8,55,Self-emp-inc,124137,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,35,Greece,>50K
9,39,Self-emp-inc,329980,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,2415,60,United-States,>50K
10,42,Self-emp-inc,187702,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,60,United-States,>50K
11,49,Private,199029,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,2415,55,United-States,>50K
12,47,Self-emp-not-inc,145290,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
13,41,Local-gov,297248,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,45,United-States,>50K
14,55,Self-emp-inc,227856,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
15,39,Private,179731,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,2415,65,United-States,>50K
16,42,Private,154374,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,60,United-States,>50K
17,41,?,27187,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,0,2415,12,United-States,>50K
18,46,Private,326857,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,2415,65,United-States,>50K
19,40,Private,160369,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,45,United-States,>50K
20,32,Private,396745,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,48,United-States,>50K
21,41,Self-emp-inc,151089,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,55,United-States,>50K
22,60,Self-emp-inc,336188,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,80,United-States,>50K
23,31,Private,279015,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,70,Taiwan,>50K
24,58,Self-emp-not-inc,43221,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,40,United-States,>50K
25,37,Self-emp-inc,30529,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,2415,50,United-States,>50K
26,44,Self-emp-not-inc,201742,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
27,39,Self-emp-not-inc,218490,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,50,?,>50K
28,43,Federal-gov,156996,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,55,?,>50K
29,55,Self-emp-inc,298449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
30,44,Self-emp-inc,191712,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,55,United-States,>50K
31,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,67,India,>50K
32,46,Self-emp-not-inc,102308,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,2415,40,United-States,>50K
33,39,Private,348521,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,99,United-States,>50K
34,62,Self-emp-inc,56248,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,60,United-States,>50K
35,31,Self-emp-not-inc,252752,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,2415,40,United-States,>50K
36,46,Private,192963,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,2415,35,Philippines,>50K
37,46,Self-emp-not-inc,198759,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,80,United-States,>50K
38,39,Self-emp-inc,143123,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2415,40,United-States,>50K
39,39,Private,237713,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,0,2415,99,United-States,>50K
40,59,Private,81929,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,45,United-States,>50K
41,50,Self-emp-inc,167793,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,60,United-States,>50K
42,46,Private,456062,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,55,United-States,>50K
43,53,Self-emp-not-inc,105478,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,40,United-States,>50K
44,50,Self-emp-not-inc,42402,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,30,United-States,>50K
45,41,Self-emp-inc,114580,Prof-school,15,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,2415,55,United-States,>50K
46,36,Private,346478,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,2415,45,United-States,>50K
47,38,Private,187870,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,90,United-States,>50K
48,54,Private,35576,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,2415,50,United-States,>50K
49,50,Private,102346,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,2415,20,United-States,>50K

# 2 - Create a data asset: Folder type

In [5]:
# Connect to Azure Machine Learning Workspace


# Import required libraries
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes

# details of azure ML workspace
subscription_id = "3b57d2fe-08b1-4fe9-b535-f5c4387b9a66"
resource_group = "azureml-sdkv2-rg"
workspace = "azureml-sdkv2-ws"

# get a handle to the workspace
ml_client = MLClient(DefaultAzureCredential(), subscription_id, resource_group, workspace)
print(ml_client)

MLClient(credential=<azure.identity._credentials.default.DefaultAzureCredential object at 0x7f3c86bab520>,
         subscription_id=3b57d2fe-08b1-4fe9-b535-f5c4387b9a66,
         resource_group_name=azureml-sdkv2-rg,
         workspace_name=azureml-sdkv2-ws)

In [6]:
VERSION = "1"
path = "azureml://datastores/datastore_01/paths/data"

# Define data asset object

my_data = Data(
    path=path,
    type=AssetTypes.URI_FOLDER,
    description="Creating data asset using pythin sdk v2 - folder type",
    name="income-data2",
    version=VERSION
)

# create data asset in workspace
ml_client.data.create_or_update(my_data)

Data({'skip_validation': False, 'mltable_schema_url': None, 'referenced_uris': None, 'type': 'uri_folder', 'is_anonymous': False, 'auto_increment_version': False, 'auto_delete_setting': None, 'name': 'income-data2', 'description': 'Creating data asset using pythin sdk v2 - folder type', 'tags': {}, 'properties': {}, 'print_as_yaml': True, 'id': '/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourceGroups/azureml-sdkv2-rg/providers/Microsoft.MachineLearningServices/workspaces/azureml-sdkv2-ws/data/income-data2/versions/1', 'Resource__source_path': None, 'base_path': '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-instance01/code/Users/vijaygadhave199', 'creation_context': <azure.ai.ml.entities._system_data.SystemData object at 0x7f3c8634c310>, 'serialize': <msrest.serialization.Serializer object at 0x7f3c8634ea70>, 'version': '1', 'latest_version': None, 'path': 'azureml://subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-sdkv2-rg/workspaces/azureml-sdkv2-ws/datastores/datastore_01/paths/data/', 'datastore': None})

In [7]:
# Consume the data asset

import mltable
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential

ml_client = MLClient.from_config(credential=DefaultAzureCredential())
data_asset = ml_client.data.get("income-data2", version="1")

path = {
  'folder': data_asset.path
}

tbl = mltable.from_delimited_files(paths=[path])
df = tbl.to_pandas_dataframe()
df

Found the config file in: /config.json

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,33,Private,194901,Assoc-voc,11,Separated,Craft-repair,Not-in-family,White,Male,False,2444,42,United-States,>50K
1,43,Private,155106,Assoc-acdm,12,Divorced,Craft-repair,Not-in-family,White,Male,False,2444,70,United-States,>50K
2,50,Self-emp-inc,121441,11th,7,Never-married,Exec-managerial,Other-relative,White,Male,False,2444,40,United-States,>50K
3,44,Private,162028,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,False,2415,6,United-States,>50K
4,51,Self-emp-not-inc,160724,Bachelors,13,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,False,2415,40,China,>50K
5,41,Private,132222,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,40,United-States,>50K
6,60,Self-emp-inc,226355,Assoc-voc,11,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,False,2415,70,?,>50K
7,37,Private,329980,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,60,United-States,>50K
8,55,Self-emp-inc,124137,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,35,Greece,>50K
9,39,Self-emp-inc,329980,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,False,2415,60,United-States,>50K
10,42,Self-emp-inc,187702,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,60,United-States,>50K
11,49,Private,199029,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,False,2415,55,United-States,>50K
12,47,Self-emp-not-inc,145290,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,50,United-States,>50K
13,41,Local-gov,297248,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,45,United-States,>50K
14,55,Self-emp-inc,227856,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,50,United-States,>50K
15,39,Private,179731,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,False,2415,65,United-States,>50K
16,42,Private,154374,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,60,United-States,>50K
17,41,?,27187,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,False,2415,12,United-States,>50K
18,46,Private,326857,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,False,2415,65,United-States,>50K
19,40,Private,160369,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,45,United-States,>50K
20,32,Private,396745,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,48,United-States,>50K
21,41,Self-emp-inc,151089,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,55,United-States,>50K
22,60,Self-emp-inc,336188,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,80,United-States,>50K
23,31,Private,279015,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,70,Taiwan,>50K
24,58,Self-emp-not-inc,43221,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,False,2415,40,United-States,>50K
25,37,Self-emp-inc,30529,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,False,2415,50,United-States,>50K
26,44,Self-emp-not-inc,201742,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,50,United-States,>50K
27,39,Self-emp-not-inc,218490,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,50,?,>50K
28,43,Federal-gov,156996,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,False,2415,55,?,>50K
29,55,Self-emp-inc,298449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,50,United-States,>50K
30,44,Self-emp-inc,191712,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,55,United-States,>50K
31,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,False,2415,67,India,>50K
32,46,Self-emp-not-inc,102308,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,False,2415,40,United-States,>50K
33,39,Private,348521,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,False,2415,99,United-States,>50K
34,62,Self-emp-inc,56248,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,False,2415,60,United-States,>50K
35,31,Self-emp-not-inc,252752,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,False,2415,40,United-States,>50K
36,46,Private,192963,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,False,2415,35,Philippines,>50K
37,46,Self-emp-not-inc,198759,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,80,United-States,>50K
38,39,Self-emp-inc,143123,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,False,2415,40,United-States,>50K
39,39,Private,237713,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,False,2415,99,United-States,>50K
40,59,Private,81929,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,45,United-States,>50K
41,50,Self-emp-inc,167793,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,60,United-States,>50K
42,46,Private,456062,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,55,United-States,>50K
43,53,Self-emp-not-inc,105478,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,False,2415,40,United-States,>50K
44,50,Self-emp-not-inc,42402,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,30,United-States,>50K
45,41,Self-emp-inc,114580,Prof-school,15,Married-civ-spouse,Exec-managerial,Wife,White,Female,False,2415,55,United-States,>50K
46,36,Private,346478,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,False,2415,45,United-States,>50K
47,38,Private,187870,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,False,2415,90,United-States,>50K
48,54,Private,35576,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,False,2415,50,United-States,>50K
49,50,Private,102346,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,False,2415,20,United-States,>50K

# 3 - Create data aseet: Table Type

In [8]:
import mltable
from mltable import MLTableHeaders, MLTableFileEncoding, DataType
from azure.ai.ml import MLClient
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes
from azure.identity import DefaultAzureCredential

# create paths to the data files
paths = [{"file": "wasbs://data@azuremlexampledata.blob.core.windows.net/titanic.csv"}]

# create an MLTable from the data files
tbl = mltable.from_delimited_files(
    paths=paths,
    delimiter=",",
    header=MLTableHeaders.all_files_same_headers,
    infer_column_types=True,
    include_path_column=False,
    encoding=MLTableFileEncoding.utf8,
)

# filter out rows undefined ages
tbl = tbl.filter("col('Age') > 0")

# drop PassengerId
tbl = tbl.drop_columns(["PassengerId"])

# ensure survived column is treated as boolean
data_types = {
    "Survived": DataType.to_bool(
        true_values=["True", "true", "1"], false_values=["False", "false", "0"]
    )
}
tbl = tbl.convert_column_types(data_types)

# show the first few records
print(tbl.show())

# save the data loading steps in an MLTable file
mltable_folder = "./titanic"
tbl.save(mltable_folder)

# details of azure ML workspace
subscription_id = "3b57d2fe-08b1-4fe9-b535-f5c4387b9a66"
resource_group = "azureml-sdkv2-rg"
workspace = "azureml-sdkv2-ws"

# get a handle to the workspace
ml_client = MLClient(DefaultAzureCredential(), subscription_id, resource_group, workspace)


# Define the Data asset object
my_data = Data(
    path=mltable_folder,
    type=AssetTypes.MLTABLE,
    description="creating data asset using sdk v2 - mltable",
    name="income-data3",
    version="1",
)

# Create data asset in workspace
ml_client.data.create_or_update(my_data)

    Survived  Pclass                                               Name  \
0      False       3                            Braund, Mr. Owen Harris
1       True       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2       True       3                             Heikkinen, Miss. Laina
3       True       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4      False       3                           Allen, Mr. William Henry
5      False       1                            McCarthy, Mr. Timothy J
6      False       3                     Palsson, Master. Gosta Leonard
7       True       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
8       True       2                Nasser, Mrs. Nicholas (Adele Achem)
9       True       3                    Sandstrom, Miss. Marguerite Rut
10      True       1                           Bonnell, Miss. Elizabeth
11     False       3                     Saundercock, Mr. William Henry
12     False       3                        Andersson, Mr. Anders Johan
13     False       3               Vestrom, Miss. Hulda Amanda Adolfina
14      True       2                   Hewlett, Mrs. (Mary D Kingcome)
15     False       3                               Rice, Master. Eugene
16     False       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
17     False       2                               Fynney, Mr. Joseph J
18      True       2                              Beesley, Mr. Lawrence
19      True       3                        McGowan, Miss. Anna "Annie"

       Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0     male  22.0      1      0         A/5 21171   7.2500  None        S
1   female  38.0      1      0          PC 17599  71.2833   C85        C
2   female  26.0      0      0  STON/O2. 3101282   7.9250  None        S
3   female  35.0      1      0            113803  53.1000  C123        S
4     male  35.0      0      0            373450   8.0500  None        S
5     male  54.0      0      0             17463  51.8625   E46        S
6     male   2.0      3      1            349909  21.0750  None        S
7   female  27.0      0      2            347742  11.1333  None        S
8   female  14.0      1      0            237736  30.0708  None        C
9   female   4.0      1      1           PP 9549  16.7000    G6        S
10  female  58.0      0      0            113783  26.5500  C103        S
11    male  20.0      0      0         A/5. 2151   8.0500  None        S
12    male  39.0      1      5            347082  31.2750  None        S
13  female  14.0      0      0            350406   7.8542  None        S
14  female  55.0      0      0            248706  16.0000  None        S
15    male   2.0      4      1            382652  29.1250  None        Q
16  female  31.0      1      0            345763  18.0000  None        S
17    male  35.0      0      0            239865  26.0000  None        S
18    male  34.0      0      0            248698  13.0000   D56        S
19  female  15.0      0      0            330923   8.0292  None        Q

Uploading titanic (0.0 MBs): 100%|| 674/674 [00:00<00:00, 37824.44it/s]

Data({'skip_validation': False, 'mltable_schema_url': None, 'referenced_uris': ['wasbs://data@azuremlexampledata.blob.core.windows.net/titanic.csv'], 'type': 'mltable', 'is_anonymous': False, 'auto_increment_version': False, 'auto_delete_setting': None, 'name': 'income-data3', 'description': 'creating data asset using sdk v2 - mltable', 'tags': {}, 'properties': {}, 'print_as_yaml': True, 'id': '/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourceGroups/azureml-sdkv2-rg/providers/Microsoft.MachineLearningServices/workspaces/azureml-sdkv2-ws/data/income-data3/versions/1', 'Resource__source_path': None, 'base_path': '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-instance01/code/Users/vijaygadhave199', 'creation_context': <azure.ai.ml.entities._system_data.SystemData object at 0x7f3c85327e20>, 'serialize': <msrest.serialization.Serializer object at 0x7f3c8411ebc0>, 'version': '1', 'latest_version': None, 'path': 'azureml://subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-sdkv2-rg/workspaces/azureml-sdkv2-ws/datastores/workspaceblobstore/paths/LocalUpload/65fb8046b2ee85b2ee437382ebb1dd1b/titanic/', 'datastore': None})

In [9]:
# Consume the data asset

import mltable
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential

ml_client = MLClient.from_config(credential=DefaultAzureCredential())
data_asset = ml_client.data.get("income-data3", version="1")

tbl = mltable.load(data_asset.path)

df = tbl.to_pandas_dataframe()
df

Found the config file in: /config.json

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...
709,False,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,None,Q
710,False,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
711,True,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
712,True,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
713,False,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

# 4 - Create data asset from job output

In [10]:
from azure.ai.ml import command, Input, Output, MLClient
from azure.ai.ml.constants import AssetTypes, InputOutputModes
from azure.identity import DefaultAzureCredential

# details of azure ML workspace
subscription_id = "3b57d2fe-08b1-4fe9-b535-f5c4387b9a66"
resource_group = "azureml-sdkv2-rg"
workspace = "azureml-sdkv2-ws"

# get a handle to the workspace
ml_client = MLClient(DefaultAzureCredential(), subscription_id, resource_group, workspace)

# Set the input and output URI paths for the data. Supported paths include:
# local: `./<path>
# Blob: wasbs://<container_name>@<account_name>.blob.core.windows.net/<path>
# ADLS: abfss://<file_system>@<account_name>.dfs.core.windows.net/<path>
# Datastore: azureml://datastores/<data_store_name>/paths/<path>
# Data Asset: azureml:<my_data>:<version>
# As an example, we set the input path to a file on a public blob container
# As an example, we set the output path to a folder in the default datastore
input_path = "wasbs://data@azuremlexampledata.blob.core.windows.net/titanic.csv"
output_path = "azureml://datastores/workspaceblobstore/paths/quickstart-output/titanic.csv"


# What type of data are you pointing to?
# AssetTypes.URI_FILE (a specific file)
# AssetTypes.URI_FOLDER (a folder)
# AssetTypes.MLTABLE (a table)
# The path we set above is a specific file
data_type = AssetTypes.URI_FILE


# Set the input mode. The most commonly-used modes:
# InputOutputModes.RO_MOUNT
# InputOutputModes.DOWNLOAD
# Set the mode to Read Only (RO) to mount the data
input_mode = InputOutputModes.RO_MOUNT


# Set the output mode. The most commonly-used modes:
# InputOutputModes.RW_MOUNT
# InputOutputModes.UPLOAD
# Set the mode to Read Write (RW) to mount the data
output_mode = InputOutputModes.RW_MOUNT


# Set a data asset name for the output
data_asset_name = "job_output_titanic_asset"

# Set the input and output for the job:
inputs = {
    "input_data": Input(type=data_type, path=input_path, mode=input_mode)
}

outputs = {
    "output_data": Output(type=data_type, path=output_path, mode=output_mode, name = data_asset_name)
}

# This command job copies the data to your default Datastore
job = command(
    command="cp ${{inputs.input_data}} ${{outputs.output_data}}",
    inputs=inputs,
    outputs=outputs,
    environment="azureml://registries/azureml/environments/sklearn-1.1/versions/4",
    compute="cluster-01",
)

# Submit the command
ml_client.jobs.create_or_update(job)

Class AutoDeleteSettingSchema: This is an experimental class, and may change at any time. Please see https://aka.ms/azuremlexperimental for more information.
Class AutoDeleteConditionSchema: This is an experimental class, and may change at any time. Please see https://aka.ms/azuremlexperimental for more information.
Class BaseAutoDeleteSettingSchema: This is an experimental class, and may change at any time. Please see https://aka.ms/azuremlexperimental for more information.
Class IntellectualPropertySchema: This is an experimental class, and may change at any time. Please see https://aka.ms/azuremlexperimental for more information.
Class ProtectionLevelSchema: This is an experimental class, and may change at any time. Please see https://aka.ms/azuremlexperimental for more information.
Class BaseIntellectualPropertySchema: This is an experimental class, and may change at any time. Please see https://aka.ms/azuremlexperimental for more information.

Command({'parameters': {}, 'init': False, 'name': 'sincere_ghost_2tb43n6d10', 'type': 'command', 'status': 'Starting', 'log_files': None, 'description': None, 'tags': {}, 'properties': {'_azureml.ComputeTargetType': 'amlctrain', '_azureml.ClusterName': 'cluster-01'}, 'print_as_yaml': True, 'id': '/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourceGroups/azureml-sdkv2-rg/providers/Microsoft.MachineLearningServices/workspaces/azureml-sdkv2-ws/jobs/sincere_ghost_2tb43n6d10', 'Resource__source_path': None, 'base_path': '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-instance01/code/Users/vijaygadhave199', 'creation_context': <azure.ai.ml.entities._system_data.SystemData object at 0x7f3c9ecdebf0>, 'serialize': <msrest.serialization.Serializer object at 0x7f3c8411c160>, 'allowed_keys': {}, 'key_restriction': False, 'logger': <Logger attr_dict (WARNING)>, 'display_name': 'sincere_ghost_2tb43n6d10', 'experiment_name': 'vijaygadhave199', 'compute': 'cluster-01', 'services': {'Tracking': {'endpoint': 'azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourceGroups/azureml-sdkv2-rg/providers/Microsoft.MachineLearningServices/workspaces/azureml-sdkv2-ws?', 'type': 'Tracking'}, 'Studio': {'endpoint': 'https://ml.azure.com/runs/sincere_ghost_2tb43n6d10?wsid=/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-sdkv2-rg/workspaces/azureml-sdkv2-ws&tid=843e1e65-e875-4fbd-8ddc-ce696f3a551d', 'type': 'Studio'}}, 'comment': None, 'job_inputs': {'input_data': {'type': 'uri_file', 'path': 'wasbs://data@azuremlexampledata.blob.core.windows.net/titanic.csv', 'mode': 'ro_mount'}}, 'job_outputs': {'output_data': {'type': 'uri_file', 'name': 'job_output_titanic_asset', 'path': 'azureml://datastores/workspaceblobstore/paths/quickstart-output/titanic.csv', 'mode': 'rw_mount'}, 'default': {'type': 'uri_folder', 'path': 'azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.sincere_ghost_2tb43n6d10', 'mode': 'rw_mount'}}, 'inputs': {'input_data': <azure.ai.ml.entities._job.pipeline._io.base.NodeInput object at 0x7f3c8411c040>}, 'outputs': {'output_data': <azure.ai.ml.entities._job.pipeline._io.base.NodeOutput object at 0x7f3c8411d780>, 'default': <azure.ai.ml.entities._job.pipeline._io.base.NodeOutput object at 0x7f3c8411d6c0>}, 'component': CommandComponent({'intellectual_property': None, 'auto_increment_version': True, 'source': 'REMOTE.WORKSPACE.JOB', 'is_anonymous': False, 'auto_delete_setting': None, 'name': 'sincere_ghost_2tb43n6d10', 'description': None, 'tags': {}, 'properties': {}, 'print_as_yaml': True, 'id': None, 'Resource__source_path': None, 'base_path': PosixPath('.'), 'creation_context': <azure.ai.ml.entities._system_data.SystemData object at 0x7f3c9ecdebf0>, 'serialize': <msrest.serialization.Serializer object at 0x7f3c8411f040>, 'command': 'cp ${{inputs.input_data}} ${{outputs.output_data}}', 'code': None, 'environment_variables': {}, 'environment': 'azureml://registries/azureml/environments/sklearn-1.1/versions/4', 'distribution': None, 'resources': None, 'queue_settings': None, 'version': None, 'latest_version': None, 'schema': None, 'type': 'command', 'display_name': 'sincere_ghost_2tb43n6d10', 'is_deterministic': True, 'inputs': {'input_data': {'type': 'uri_file', 'path': 'wasbs://data@azuremlexampledata.blob.core.windows.net/titanic.csv', 'mode': 'ro_mount'}}, 'outputs': {'output_data': {'type': 'uri_file', 'name': 'job_output_titanic_asset', 'path': 'azureml://datastores/workspaceblobstore/paths/quickstart-output/titanic.csv', 'mode': 'rw_mount'}, 'default': {'type': 'uri_folder', 'path': 'azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.sincere_ghost_2tb43n6d10', 'mode': 'rw_mount'}}, 'yaml_str': None, 'other_parameter': {'status': 'Starting', 'parameters': {}}, 'additional_includes': [], 'CommandComponent__additional_includes_obj': None}), 'referenced_control_flow_node_instance_id': None, 'kwargs': {'services': {'Tracking': {'endpoint': 'azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourceGroups/azureml-sdkv2-rg/providers/Microsoft.MachineLearningServices/workspaces/azureml-sdkv2-ws?', 'type': 'Tracking'}, 'Studio': {'endpoint': 'https://ml.azure.com/runs/sincere_ghost_2tb43n6d10?wsid=/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-sdkv2-rg/workspaces/azureml-sdkv2-ws&tid=843e1e65-e875-4fbd-8ddc-ce696f3a551d', 'type': 'Studio'}}, 'status': 'Starting', 'creation_context': <azure.ai.ml.entities._system_data.SystemData object at 0x7f3c9ecdebf0>}, 'instance_id': '1913fa37-4a8d-4e20-ac24-a26ffe3d01c5', 'source': 'BUILDER', 'validate_required_input_not_provided': True, 'limits': None, 'identity': None, 'distribution': None, 'environment_variables': {}, 'environment': 'azureml://registries/azureml/environments/sklearn-1.1/versions/4', 'resources': {'instance_count': 1, 'shm_size': '2g'}, 'queue_settings': None, 'swept': False})

# 5 - Archive & Restore data asset

In [11]:
ml_client.data.archive(name="income-data1")

In [12]:
ml_client.data.archive(name="income-data2", version="1")

In [13]:
ml_client.data.restore(name="income-data1")

In [14]:
ml_client.data.restore(name="income-data2", version="1")